{% block topnav %}
    <nav class="navbar navbar-light bg-primary">
        <a class="navbar-brand mb-0 h1"
           href="{{ absolute_url(path('home_page')) }}">
            <img src="https://image.flaticon.com/icons/svg/25/25694.svg"
                 width="30"
                 height="30"
                 class="d-inline-block align-top"
                 alt=""
            >
            Home
        </a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ absolute_url(path('product_index')) }}">
                            List Of Products
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ absolute_url(path('configuration_index')) }}">
                            Configuration
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ absolute_url(path('app_logout')) }}">
                            Logout
                        </a>
                    </li>
                    {% else %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ absolute_url(path('app_login')) }}">
                                For Admin
                            </a>
                        </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}