{% extends 'base.html.twig' %}

{% block title %}Edit Configuration{% endblock %}

{% block body %}
    <h1>Edit Configuration</h1>

    <div class="container">
        {{ include('configuration/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-primary" href="{{ path('configuration_index') }}">Go Back</a>
    </div>

{% endblock %}
