{% extends 'base.html.twig' %}

{% block title %}Configuration{% endblock %}

{% block body %}
    <h1>Configuration</h1>

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Tax rate (%)</th>
                <th>Is tax included</th>
                <th>Global discount (%)</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for configuration in configurations %}
                <tr>
                    <td>{{ configuration.taxRate }}</td>
                    <td>{{ configuration.isTaxIncluded ? 'Yes' : 'No' }}</td>
                    <td>{{ configuration.globalDiscount }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('configuration_edit', {'id': configuration.id}) }}">
                            Change
                        </a>
                        <a class="btn btn-primary" href="{{ path('default_tax_rate', {'id': configuration.id}) }}">
                            Set default tax rate
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
