{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>Edit Product</h1>

    <div class="container">
        {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-primary" href="{{ path('product_index') }}">Back to list</a>

        {{ include('product/_delete_form.html.twig') }}
    </div>
{% endblock %}
