{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <h1>List Of Products</h1>

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>SKU</th>
                <th>Status</th>
                <th>Base price(€)</th>
                <th>Individual discount(%)</th>
                <th>Description</th>
                <th>Published by</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>
                        <img src="{{ asset('uploads/products_images/') ~ product.image }}"
                             style="width: 50px; height: 50px"
                             class="rounded mx-auto d-block"
                        >
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.SKU }}</td>
                    {% if product.status%}
                        <td>Enabled</td>
                        {% else %}
                            <td>Disabled</td>
                    {% endif %}
                    <td>{{ product.basePrice|number_format(2, '.', '') }}</td>
                    <td>{{ product.individualDiscount }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.publishedBy.username }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('product_edit', {'id': product.id}) }}">Edit</a>
                        {{ include('product/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('product_new') }}">Create new</a>

        <div class="navigation d-flex justify-content-center">
            {{ knp_pagination_render(products) }}
        </div>
    </div>
{% endblock %}
