{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <h1>Create new Product</h1>

    <div class="container">
        {{ include('product/_form.html.twig') }}

        <a class="btn btn-primary" href="{{ path('product_index') }}">Back to list</a>
    </div>
{% endblock %}
