{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <button class="btn btn-primary">{{ button_label|default('Post') }}</button>
{{ form_end(form, {'attr': {'novalidate': 'novalidate'}}) }}