{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('../templates/css/star.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            {% for product in products %}

                {% if product.status %}
                    <div class="card mb-4" style="min-width: 200px; max-width: 250px">
                        <a href="{{ path('product_show', {'id': product.id}) }}">
                            <img class="card-img-top img-fluid"
                                 src="{{ asset('uploads/products_images/') ~ product.image }}"
                                 style="height: 200px"
                                 alt="{{ product.image }}"
                            >
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name|title }}</h5>

                            <p class="card_text" id="rating">
                                {% if product.getReviews()|length == 0 %}
                                    {% for i in 1..5 %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                {% else %}

                                    {% set ratingSum = 0 %}

                                    {% for review in product.getReviews() %}
                                        {% set ratingSum = ratingSum + review.rating %}
                                    {% endfor %}

                                    {% set ratingAvg = ratingSum / product.getReviews()|length %}

                                    {% for i in 1..5 %}
                                        {% if loop.index <= ratingAvg %}
                                            <i class="fa fa-star checked"></i>
                                        {% else %}
                                            <i class="fa fa-star"></i>
                                        {% endif %}
                                    {% endfor %}

                                {%  endif %}

                                ( {{ product.getReviews()|length }} )
                            </p>

                            <p class="card-text">
                                SKU:{{ product.SKU }}
                            </p>

                            {% set tax = (product.basePrice / 100 * configuration.taxRate) %}

                            {% if configuration.isTaxIncluded %}
                                {% set productPrice = product.basePrice + tax %}
                            {% else %}
                                {% set productPrice = product.basePrice%}
                            {% endif %}

                            {% if product.individualDiscount != null or configuration.globalDiscount != null %}

                                {% if product.individualDiscount != null %}
                                    {% set discount =  (productPrice / 100 * product.individualDiscount)%}

                                    <p class="card-text" style="color: red">
                                        Discount: {{ product.individualDiscount }}%
                                    </p>

                                {% elseif  product.individualDiscount == null and configuration.globalDiscount != null%}
                                    {% set discount =  (productPrice / 100 * configuration.globalDiscount)%}

                                    <p class="card-text" style="color: red">
                                        Discount: {{ configuration.globalDiscount }}%
                                    </p>

                                {% endif %}

                                {% set priceBeforeSale = productPrice %}
                                {% set productPrice = productPrice - discount %}

                                <p class="card-text">
                                    Price:
                                    <strike>{{ priceBeforeSale|number_format(2, '.', '') }}€</strike>
                                    {{ productPrice|number_format(2, '.', '') }}€
                                    <br>
                                    {% if configuration.isTaxIncluded %}
                                        <small class="card-text" style="color: red">
                                            Tax included
                                        </small>
                                    {% else %}
                                        <small class="card-text" style="color: red">
                                            Tax not included
                                        </small>
                                        <br>
                                        <small class="card-text" style="color: red">
                                            Tax rate: {{ configuration.taxRate }}%
                                        </small>
                                    {% endif %}

                                </p>

                            {% else %}
                                <p><br></p>
                                <p class="card-text">
                                    Price: {{ productPrice|number_format(2, '.', '') }}€
                                    <br>
                                    {% if configuration.isTaxIncluded %}
                                        <small class="card-text" style="color: red">
                                            Tax included
                                        </small>
                                    {% else %}
                                        <small class="card-text" style="color: red">
                                            Tax not included
                                        </small>
                                        <br>
                                        <small class="card-text" style="color: red">
                                            Tax rate: {{ configuration.taxRate }}%
                                        </small>
                                    {% endif %}
                                </p>

                            {% endif %}

                            <a class="btn btn-primary"
                               href="{{ path('product_show', {'id': product.id}) }}">
                                Show more
                            </a>
                        </div>
                    </div>
                {% endif %}

            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
        </div>

        <div class="navigation d-flex justify-content-center">
            {{ knp_pagination_render(products) }}
        </div>
    </div>
{% endblock %}
