{% extends 'base.html.twig' %}

{% block title %}{{ product.name|title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('../templates/css/star.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ product.name|title }}</h1>
        <small style="font-size: 18px">Product SKU: {{ product.SKU }}</small>
        <div class="media">
            <img src="{{ asset('uploads/products_images/') ~ product.image }}"
                 class="mr-3"
                 style="width: 340px; height: 340px;"
                 alt="{{ product.name }}"
            >
            <div class="media-body">
                <h2 class="mt-0">Product description</h2>
                <p style="font-size: 18px">
                    {{ product.description }}
                </p>
            </div>
        </div>

        {% set tax = (product.basePrice / 100 * configuration.taxRate) %}

        {% if configuration.isTaxIncluded %}
            {% set productPrice = product.basePrice + tax %}
        {% else %}
            {% set productPrice = product.basePrice %}
        {% endif %}

        {% if product.individualDiscount != null or configuration.globalDiscount != null %}

            {% if product.individualDiscount != null %}

                {% set discount =  (productPrice / 100 * product.individualDiscount)%}
                {% set discountPercents = product.individualDiscount %}

            {% elseif  product.individualDiscount == null and configuration.globalDiscount != null%}

                {% set discount =  (productPrice / 100 * configuration.globalDiscount)%}
                {% set discountPercents = configuration.globalDiscount %}

            {% endif %}

            {% set priceBeforeSale = productPrice %}
            {% set productPrice = productPrice - discount %}

            <p style="color: red; font-size: 30px">
                Discount: {{ discountPercents }}%
            </p>
            <p style="font-size: 20px">
                Price:
                <strike>{{ priceBeforeSale|number_format(2, '.', '') }}€</strike>
                {{ productPrice|number_format(2, '.', '') }}€
                <br>
                {% if configuration.isTaxIncluded %}
                    <small class="card-text" style="color: red">
                        Tax included
                    </small>
                {% else %}
                    <small class="card-text" style="color: red">
                        Tax not included
                    </small>
                    <br>
                    <small class="card-text" style="color: red">
                        Tax rate: {{ configuration.taxRate }}%
                    </small>
                {% endif %}
            </p>

        {% else %}
            <p><br></p>
            <p style="font-size: 20px">
                Price: {{ productPrice|number_format(2, '.', '') }}€
                <br>
                {% if configuration.isTaxIncluded %}
                    <small class="card-text" style="color: red">
                        Tax included
                    </small>
                {% else %}
                    <small class="card-text" style="color: red">
                        Tax not included
                    </small>
                    <br>
                    <small class="card-text" style="color: red">
                        Tax rate: {{ configuration.taxRate }}%
                    </small>
                {% endif %}
            </p>
        {% endif %}

        <div class="container">
            <h2 class="text-center">Product Reviews</h2>

            {% for review in reviews %}
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    {% if review.reviewerName != null %}
                                        <strong>{{ review.reviewerName|title }}</strong>
                                    {% else %}
                                        <strong>Anonymous</strong>
                                    {% endif %}

                                    {% for i in 1..5 %}
                                        {% if loop.index <= review.rating %}
                                            <i class="fa fa-star checked"></i>
                                        {% else %}
                                            <i class="fa fa-star"></i>
                                        {% endif %}
                                    {% endfor %}

                                    <small class="float-right">{{ review.postTime|date("Y-m-d H:i:s") }}</small>
                                </p>
                                <div class="clearfix"></div>
                                <p>{{ review.comment }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br><br>
        <div class="container">
            {{ include('home_page/_reviewForm.html.twig') }}
        </div>

        <a class="btn btn-primary" href="{{ path('home_page') }}">Back to home page</a>
    </div>
{% endblock %}
